@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

.click-pass-through {
  pointer-events: none;
}
